<div style="margin:0;padding:0">
  <table style="background-color:#f4f4f4;width:100%;height:100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="border-top:4px solid #FC6769;padding-left:7px;padding-right:7px">
          <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto">
            <tbody>
              <tr>
                <td colspan="3">
                  <table width="600" style="background-color:#f4f4f4" bgcolor="#F4F4F4" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td height="32" style="background-color:#f4f4f4"></td>
                      </tr>
                      <tr>
                        <td width="32" style="background-color:#f4f4f4"></td>
                        <td style="background-color:#f4f4f4;width:100%;padding-left:32px">
                          <a style="color:white;display:block;text-align:left;text-decoration:none" target="_blank">
                          <img src="https://i.imgur.com/rHPb9Kb.png" alt="AnimeBeat" title="AnimeBeat" border="0" style="display:block;border:none;outline:none;text-decoration:none;width:155px;height:22px" width="155" height="56">
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td height="32" style="background-color:#f4f4f4"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="12" colspan="3" bgcolor="#F4F4F4" align="center">
                  <table style="background-color:#f4f4f4;width:100%;text-align:center" bgcolor="#ECE9EC" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td style="background-color:#f4f4f4;text-align:center" align="center">
                          <a style="width:100%;height:100%;display:block" target="_blank">
                          <img src="https://i.imgur.com/BA3xv7U.jpg" alt="Wanna" title="Wanna" border="0" style="width:600px;height:auto;display:block;border-top-left-radius:4px;border-top-right-radius:4px" width="600" height="300">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="32" bgcolor="#FFFFFF" style="border-bottom-left-radius:4px">&nbsp;</td>
                <td bgcolor="#FFFFFF">
                  <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td height="40" align="center">
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight:lighter;font-family:Open Sans,sans-serif;font-size:16px;color:#4b4b4b;text-align:left;line-height:24px">
                          ¡Hola {{username}}!<br>
                          Has recibido este correo de <span>AnimeBeat</span> por que has actualizado exitosamente tu <span style="font-weight:bold">contraseña</span>.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td height="40"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="32" bgcolor="#FFFFFF" style="border-bottom-right-radius:4px">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">
                  <table width="600" style="background-color:#f4f4f4" bgcolor="#F4F4F4" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tbody>
                      <tr>
                        <td height="32"></td>
                      </tr>
                      <tr>
                        <td width="32"></td>
                        <td style="font-weight:lighter;font-family:Open Sans,sans-serif;font-size:12px;color:#6d6d6d;text-align:left;line-height:20px">
                          Has recibido esta recomendación porque estás registrado en <span>AnimeBeat</span>. Como <span>AnimeBeat</span> es un servicio gratuito y creemos que es bueno que siga siéndolo, de vez en cuando te enviamos avisos propios de <span>AnimeBeat</span> y recomendaciones relacionadas con ciertas productos, buscando siempre que éstas te resulten lo más útiles posible (y&nbsp;no&nbsp;es una frase hecha). Si esto te resulta muy fastidioso (¡ojalá&nbsp;que&nbsp;no sea&nbsp;así!)&nbsp;puedes <a href="http://www.animebeat.us" style="color:#00b4e6;font-weight:500;text-decoration:none" target="_blank" data-saferedirecturl="http://www.animebeat.us/">darte de baja en <span>AnimeBeat</span></a>
                        </td>
                        <td width="32"></td>
                      </tr>
                      <tr>
                        <td height="32"></td>
                      </tr>
                      <tr>
                        <td width="32"></td>
                        <td style="font-weight:lighter;font-family:Open Sans,sans-serif;font-size:12px;color:#6d6d6d;text-align:left;line-height:20px">Para cualquier cosa que necesites escríbenos a <a href="mailto:animebeat.hey@gmail.com" style="color:#00b4e6;font-weight:bolder;font-weight:500;text-decoration:none" target="_blank">animebeat.hey@<span>gmail</span>.com</a></td>
                        <td width="32"></td>
                      </tr>
                      <tr>
                        <td height="32"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
